{
  "openapi": "3.0.3",
  "info": {
    "description": "APIs of the ecolytiq SaaS\n",
    "version": "v3",
    "title": "ecolytiq SaaS",
    "contact": {
      "email": "support@ecolytiq.com",
      "name": "ecolytiq GmbH",
      "url": "https://ecolytiq.com"
    },
    "termsOfService": "https://ecolytiq.com/imprint",
    "x-logo": {
      "url": "https://developer.ecolytiq.com/static/logo.png",
      "backgroundColor": "#132a38",
      "altText": "ecolytiq GmbH"
    }
  },
  "servers": [
    {
      "description": "ecolytiq API (Sandbox)",
      "url": "https://api.sandbox.arm.ecolytiq.network"
    }
  ],
  "tags": [
    {
      "name": "General Information",
      "description": "This document describes the API of the ecolytiq Sustainability-as-a-Service&reg; platform.\n\necolytiq has developed a method of assigning financial (bank) transactions with a CO<sub>2</sub> footprint, therefore, allowing financial institutions to inform their end customers about the ecological impact of their transactions. \nThe calculation is based on the amount of the (outgoing) transaction and a category of the transaction which are both components of various region-specific calculation models.\n\n## Basic Requirements\n\nTo use the ecolytiq platform a customer is required to have a working pair of client credentials consisting of a `client_id` and a `client_secret`.\nThose credentials are provided by ecolytiq after a contract is signed.\n\nThe customer is responsible for providing the client application that manages the integration of the ecolytiq services into their systems.\n\nCertain features may not be available to or necessary for all customers. \nHence, the set of enabled features is bound to a set of client credentials.\n\n## Information on Available and Enabled Features\n\nAs not all features may be relevant to all customers the feature set can vary for different client credentials.\nThe ecolytiq platform provides an [info API](#tag/Info-API) to get information about the features that are available (in general) and accessible/enabled (for the customer).\n\n## Processing of Financial Transactions\n\n### Transaction Enrichment\n\nThe core functionality is enriching the transactions with the ecological footprint (at present: CO<sub>2</sub>) related to the purchase. \nThis can be achieved by sending transactions to the [transaction API](#tags/Transaction-API). \n\nThe ecolytiq platform has the ability to immediately return the calculation result (\"synchronous processing\") or to only accept the transactions and schedule the calculations until a later point in time (\"asynchronous processing\").\nIn any case, the [result of the calculation](#operation/getTransactionsTransactions) can also be retrieved at a later point in time.\n\n### Refinement of Transactions\n\nIn some cases, the amount of the transaction is not a good indicator of the ecological footprint related to the transaction.\nIn such instances, the transactions can be refined by [answering transaction-specific questions](#operation/postTransactionsQuestions) (e.g., \"How many liters was your refill at the gas station?\").\n\n### Transaction Processing and Refinement Workflow\n\nA suggested workflow for processing an end customer's transaction looks as follows:\n\n1. Send the transaction to the ecolytiq service for processing:          \n   [`POST /transactions/v1/transactions`](#operation/postTransactionTransaction)\n\n2. Request a list of references to refinement questions that are available for this transaction:  \n   [`GET /transactions/v1/refinements?transaction_ids=<transaction_ids>`](#operation/getTransactionsRefinements)\n3. Retrieve the content (questions and answers) associated with the refinement question and answer IDs:          \n   [`GET /transactions/v1/questions?question_ids=<question_ids>`](#operation/getTransactionsQuestions)\n   > #### Note\n   > This step can also be executed in the very beginning by omitting the `question_ids` parameter.\n   In that case, **all available** questions are returned. \n   The result can then be cached on the client side.\n\n4. Have the end customer answer the refinement question(s):  \n   This must be handled in the client application\n\n5. Send the answers to the refinement questions to the ecolytiq platform:  \n   [`POST /transactions/v1/refinements`](#operation/postTransactionsRefinements)\n\n6. Retrieve the calculation result for the refined transaction:  \n   [`GET /transactions/v1/transactions?transaction_ids=<transaction_ids>`](#operation/getTransactionsTransactions) \n\n### Account Profiling\n\nFor some types of purchases, having additional knowledge about the end customer can be helpful. \nFor example, the supermarket shopping basket of a person regularly having meat on their plate differs from that of a vegan person. \nIt is possible to request such information for each individual transaction.\nHowever, it can be easier to attribute such information to an end customer once.\nThe [profiling API](#tag/Profiling-API) is available for this.\n\n## Educational and Informational Content\n\nAnother important feature of the ecolytiq Sustainability-as-a-Service&reg; platform is the educational content that allows end customers to gain more knowledge and awareness of the ecological footprint created by their purchase decisions.\nIn the long term informing and educating end customers about their individual impact will help make them more literate choices when consuming goods and services. \n\nAt present, ecolytiq offers the following types of content: \n\n  * **Comparables** are small examples that for a given CO<sub>2</sub> footprint show in a concrete and easily graspable way how much of an impact that is.\n\n  * **Insights** are short and simple tips and tricks that help end customers reduce their impact.\n    In combination with the [profiling API](#tag/Profiling-API), the Insights shown are even more relevant to the end customer.\n\n  * **Explanations** are content pieces that give information about the ecolytiq calculation method.\n\nThe [profiling API](#tag/Profiling-API) delivers references to the content pieces.\nUsing the [content API](#tag/Content-API) the texts of the educational and informational content pieces can be fetched in various different languages.\n\n## Use of the SaaS Platform\n\nThe ecolytiq platform is available as Software-as-a-Service (SaaS) solution shared among different Customers and accessible via public internet. \nOther modes of access, such as VPN access or dedicated SaaS platforms may be available upon request.\n\nThe customer is required to build and maintain the client application. Operations of the ecolytiq platform are handled by ecolytiq GmbH.\n\n## Security and Data Protection\n\nWe as ecolytiq GmbH adhere to and are compliant with all relevant data protection standards, such as GDPR, ISO27001, or PCI-DSS. \nOur platforms are regularly checked for security vulnerabilities.\n\nHowever, financial data contains highly sensitive information about individuals. Therefore, our customers **are not allowed** to send actual personally identifiable information to the ecolytiq SaaS platform.\nThis is especially important for account identifiers -- **Do not use actual bank account numbers or PANs** (personal account numbers, i.e., credit card numbers) as account identifiers!\n\nAccount data must be pseudonymized. We recommend using [UUIDs](https://en.wikipedia.org/wiki/Universally_unique_identifier) as account identifiers. \nMapping the account identifier to the end customer account **must be handled on the customer client application side**.\n",
      "x-displayName": "General Information"
    },
    {
      "name": "Changelog",
      "description": "### 2024-05-29\n* Added the purchased carbon credits amount into the [Get total or monthly footprints and carbon credits over time](#tag/Statistic-API/operation/getFootprintsOverTime).      \n\n### 2024-04-18\n* Updated the behaviour of `meta-category` and `sub-category` filters in \n[Get transactions per category for one month](#tag/Transaction-API/operation/getTransactionsForMonth), \n[Get total or monthly footprints over time](#tag/Statistic-API/operation/getFootprintsOverTime), and \n[Get footprints of an account per meta-category for one month](#tag/Statistic-API/operation/getFootprintsForMonth) such that `misc` and `general` are accepted as the meta and sub categories of `ex:general` category. \n\n### 2024-04-15\n* Added new error examples for [Get Explanations by ID](#operation/getContentExplanations)\n* Added new error examples for [Get Explanations (for given categories)](#operation/getContentExplanationsRandom) \n\n### 2024-04-10\n* Added new error code description for `INCOMPATIBLE` in [ecolytiq Error Code Summary](#tag/Errors/ecolytiq-Error-Code-Summary)\n* Added new error examples for [Get Comparables for a Given CO2 Footprint](#operation/getContentComparables)\n* Added new error examples for [Get Random Comparables for a Given CO2 Footprint](#operation/getContentComparablesRandom)\n\n### 2024-04-08\n* Added query parameter `sub_account_ids` to [Get footprints of an account per meta-category for one month](#tag/Statistic-API/operation/getFootprintsForMonth). This enables users to aggregate CO<sub>2</sub> footprints for a subset of their sub account IDs. \n\n### 2024-03-05\n* Modified descriptions of `account_id` and `sub_account_id` to prevent misinterpretation.\n\n### 2024-02-26\n* Added query parameter `sub_account_ids` to [Get transactions per category for one month](#tag/Transaction-API/operation/getTransactionsForMonth). This enables users to filter transactions by sub_account_ids.\n\n### 2024-02-14\n* Added [Retrieve refinements for account](#tag/Profiling-API/operation/getProfileRefinementsForAccount) endpoint to retrieve profile refinement information for a given account.\n* Added query parameter `sub_account_ids` to [Get total or monthly footprints over time](#tag/Statistic-API/operation/getFootprintsOverTime). This enables user to aggregate CO<sub>2</sub> footprints for a subset of their sub_account_ids. \n",
      "x-displayName": "Changelog"
    },
    {
      "name": "Authentication",
      "x-displayName": "Authentication"
    },
    {
      "name": "Errors",
      "description": "## HTTP Status Code Summary\n| Status Code                        | Description                                                                                      |\n|------------------------------------|--------------------------------------------------------------------------------------------------|\n| 200 - OK                           | Everything worked as expected.                                                                   |\n| 201 - Created                      | Everything worked as expected. Resource created.                                                 |\n| 204 - No Content                   | Everything worked as expected.                                                                   |\n| 400 - Bad Request                  | The request was unacceptable, often due to missing a required parameter.                         |\n| 401 - Unauthorized                 | No valid Access Token provided.                                                                  |\n| 403 - Forbidden                    | The API key doesn't have permissions to perform the request.                                     |\n| 404 - Not Found                    | The requested resource doesn't exist.                                                            |\n| 409 - Conflict                     | The request conflicts with another request (perhaps due to using the same idempotent key).       |\n| 422 - Unprocessable Entity         | Unprocessable Entity                                                                             |\n| 500, 502, 503, 504 - Server Errors | Something went wrong on ecolytiq's end.                                                          |\n\n## ecolytiq Error Code Summary\necolytiq errors are used when a request is targeting multiple entities, and the request was unable to be finished fully successful. \nIn this case, the response will contain both successful results and errors. The error codes used for this type of error are the following. \n\n| Error Code             | Description                                                                       | API                       |\n|------------------------|-----------------------------------------------------------------------------------|---------------------------|\n| NOT_FOUND              | Central entity type in request, or anything related to it, is missing.            | [Get Insights by IDs](#operation/getContentInsights) <br/> [Get Insights (for a Given Category)](#operation/getContentInsightsRandom) <br/> [Get Comparables for a Given CO2 Footprint](#operation/getContentComparables) <br/> [Get Random Comparables for a Given CO<sub>2</sub> Footprint](#operation/getContentComparablesRandom) <br/> [Get Explanations by ID](#operation/getContentExplanations) <br/> [Get Explanations (for given categories)](#operation/getContentExplanationsRandom) |\n| INCOMPATIBLE           | Central entity type in request, or anything related to it, is not compatible with parameters in the request. | [Get Comparables for a Given CO2 Footprint](#operation/getContentComparables) |\n| CURRENCY_NOT_SUPPORTED | We can't process the transaction because we do not support the provided currency. | [Process transactions](#operation/postTransactionsTransactions) |\n| INITIATE_PAYMENT_FAILURE | We could not initialize the stripe payment process. | [Purchase carbon credits](#operation/purchaseCarbonCredits) |\n",
      "x-displayName": "Errors"
    },
    {
      "name": "Postman",
      "description": "## Import Request Collection and Environment\n\n### Request Collection\n\n1. In Postman, click on the \"Import\" button in the upper left corner.\n\n2. In the opened window click on \"Choose Files\" under \"Import File\".\n\n3. Select the file \"preview_ecolytiq_Sandbox.postman_collection.json\" and press \"open\".\n\n4. The collection is now imported and can be found in the list on the left side of the window.\n\n\n### Environment\n\n1. In Postman, click on the \"Import\" button in the upper left corner.\n\n2. Click on \"Import\" in the lower right corner of the currently opened window.\n\n3. Click on \"Select File\", choose then \"*.postman_environment.json\" (you get the file during the onboarding phase) and press \"open\".\n\n4. Close the \"Management Environment\" window.\n\n5. Select \"Sandbox\" from the dropdown in the upper right corner.\n\n## Download\n\n<a href =\"https://developer.ecolytiq.com/ecolytiq_Sandbox.postman_collection.json\" download>ecolytiq_Sandbox.postman_collection.json</a>\n",
      "x-displayName": "Postman"
    },
    {
      "name": "Info API",
      "description": "The info API can be used to obtain information about the ecolytiq platform configuration and available features. \nIt offers a simple and reliable method to verify, \n\n* Which [country models for CO<sub>2</sub>](#operation/getInfoCo2models) footprint calculation are available and accessible to the requestor,\n\n* Which [categorization systems](#operation/getInfoCategorySystems) for transactions are available and accessible for transaction enrichment,\n\n* For some categorization systems, which [categories](#operation/getInfoCategories) are available\n",
      "x-displayName": "Info API"
    },
    {
      "name": "Transaction API",
      "description": "The transaction API is used to process financial transactions by the ecolytiq Sustainability-as-a-Service&reg; platform.\n\nIt is possible to send transactions for enrichment and receive the calculated CO<sub>2</sub> footprint based on a combination of the transaction amount and transaction category. \n\nFor some types of transactions, this may, however, be insufficient as the amount of money spent does not directly correlate to the CO<sub>2</sub> (equivalent) emissions of the purchased goods and services.\nFor example, airline ticket prices are becoming increasingly expensive the closer the date of travel is. But the amount of CO<sub>2</sub> emissions is independent of whether the ticket was bought last minute or a year in advance. \nIn such cases, the transaction data can be refined by answering specific transaction-related questions, like the duration of the flight, which will in turn allow for a much more accurate calculation of the CO<sub>2</sub> emissions.\n",
      "x-displayName": "Transaction API"
    },
    {
      "name": "Content API",
      "description": "The ecolytiq Sustainability-as-a-Service&reg; platform offers a variety of product features that go beyond pure calculation of the CO<sub>2</sub> footprint related to a financial transaction.\nThere are \n\n* Comparables: Small information pieces that put a given CO<sub>2</sub> footprint into perspective by comparing it to something easily comprehensible, like a distance driven by a car.\n  As the name suggests a Comparable is a concrete example of what a certain CO<sub>2</sub> footprint means.  \n  It can be used to create awareness on the end customer's side on how much of an impact a certain financial transaction has.\n\n* Insights: Information pieces with tips and tricks on how a customer can reduce their personal CO<sub>2</sub> emissions\n\n* Explanations: Information pieces detailing how the ecolytiq calculation method works.\n\nThose content pieces can be retrieved via the content API in various languages.\n",
      "x-displayName": "Content API"
    },
    {
      "name": "Profiling API",
      "description": "In the most basic way the ecolytiq Sustainability-as-a-Service&reg; platform is used to calculate the CO<sub>2</sub> footprint related to a \"spending transaction\" by taking into account the amount of money spent and the category of the transaction.\nThis gives an estimate of the footprint based on average consumer behavior. \nFor example, the average grocery basket is still plenty of meat.\nHowever, a specific end customer may have chosen to live a meat-reduced, meat-free, vegetarian, or vegan diet.\nHence the average shopping basket will give an inaccurate CO<sub>2</sub> footprint for them.\nTo improve the footprint calculation it is possible to store additional information about an end customer and improve the calculation accuracy in turn.\n\nThe main entities of the profiling API are:\n- **Questions** that can be asked to the end customer to gather information about their behavior.\n- **Answers** are predefined choices to answer the questions.\n- If a user answered a question, we call that process and the resulting question-answer pair **Refinement**. It refines our knowledge about the user.\n- Account specific **Insights** as described in the [Content API](#tag/Content-API) can be retrieved via the profiling API.\n",
      "x-displayName": "Profiling API"
    },
    {
      "name": "Account API",
      "description": "Should the necessity arise to remove all data of a specific end customer from the ecolytiq platform this can be done using the account API.\n",
      "x-displayName": "Account API"
    },
    {
      "name": "Statistic API",
      "description": "Use these endpoints to get aggregated CO<sub>2</sub> footprint and credits data about businesses, users or sub-accounts.\n",
      "x-displayName": "Statistic API"
    },
    {
      "name": "Feedback API",
      "description": "Use these endpoints to submit various types of feedback from a user.\n",
      "x-displayName": "Feedback API"
    },
    {
      "name": "Action API",
      "description": "This API facilitates direct actions towards environmental improvement through ecoAction.  It currently supports the purchase of carbon credits, allowing users to actively contribute to carbon retirement.\n",
      "x-displayName": "Action API"
    }
  ],
  "paths": {
    "/oauth/token": {
      "post": {
        "operationId": "postOAuthToken",
        "security": [
          {
            "BasicAuth": []
          }
        ],
        "description": "Request OAuth 2.0 Access Token with client credentials grant. This endpoint is protected with Basic Auth. Use the `client_id` as username and the `client_secret` as password.\n\nToken lifetime in seconds is part of the response alongside the bearer token. It is typically set to 1 hour.\n",
        "summary": "Request Access Token",
        "tags": [
          "Authentication"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "AccessToken and Lifetime\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Invalid or expired Client Credentials\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "Unauthorized": {
                    "value": {
                      "timestamp": "2023-04-25T12:11:15.795+00:00",
                      "status": 401,
                      "error": "Unauthorized",
                      "path": "/oauth/token"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/info/v1/co2models": {
      "get": {
        "operationId": "getInfoCo2models",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve a list of supported calculation models for CO<sub>2</sub> footprint calculation.\nThe `enabled` flag informs whether a specific model is available for use by the requesting set of client credentials since access to the models may vary from customer to customer.\n",
        "summary": "List of CO2 models",
        "tags": [
          "Info API"
        ],
        "responses": {
          "200": {
            "description": "List of supported and enabled CO<sub>2</sub> models.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CO2ModelResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/CO2ModelListExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/info/v1/category-systems": {
      "get": {
        "operationId": "getInfoCategorySystems",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve a list of category systems that are supported by the platform. The `enabled` flag informs whether a customer/set of client credentials is permitted to use a specific category system, since not all supported category systems may be accessible by every customer.",
        "summary": "List of category systems",
        "tags": [
          "Info API"
        ],
        "responses": {
          "200": {
            "description": "List of supported and enabled category systems.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategorySystemListResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/CategorySystemListExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/info/v1/categories": {
      "get": {
        "operationId": "getInfoCategories",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve a list of available transaction categories.",
        "summary": "List of categories",
        "tags": [
          "Info API"
        ],
        "parameters": [
          {
            "in": "query",
            "required": false,
            "name": "model",
            "description": "The model for supported categories.\n\nIf unset, then all categories will be returned.\n",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of categories\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryListResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/CategoryListExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/transactions/v1/transactions": {
      "post": {
        "operationId": "postTransactionsTransactions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Use this endpoint to process and store bank transactions. \n\n### Identification of transactions and accounts\n\nTo be able to request information about a transaction at a later time each transaction must be uniquely identifiable by its `transaction_id`. \nWe recommend using [Universally Unique Identifiers](https://en.wikipedia.org/wiki/Universally_unique_identifier) for the `transaction_id`.\n\nThe transactions must also be assigned to individual accounts.\nThis allows using the account's [profile data](#tag/Profiling-API) for more accurate calculations.\n\n> #### IMPORTANT\n>\n> Although ecolytiq GmbH follows data protection and data security best practices and is compliant with ISO27001 and PCI-DSS, actual bank account numbers, personal account numbers (PAN, i.e., credit card numbers), or other personally identifiable information (PII) **must not be used as `account_id`**.\n>\n> Pseudonymization of account information and maintaining the list relating the end customer's PII to the `account_id`s used on the ecolytiq platform **must be handled on the customer side**.\n>\n> ecolytiq GmbH cannot be held liable for any loss, leak, or unauthorized publication of PII which is a direct result of violating these rules.\n\nWe recommend using [Universally Unique Identifier](https://en.wikipedia.org/wiki/Universally_unique_identifier) for the `account_id`s.\n\n### Immediate Response\n\nThe request is by default synchronous, i.e. the processing result is returned immediately in the response body to the request.\nSuccessfully processed transactions are in the results list, identifiable by their `transaction_id`. \nIn case of an error (e.g. unknown category), you can find the transaction in the errors list, identifiable by their `transaction_id` as well. \n\n### Asynchronous Request\n\nIt is also possible to only send the data for processing and not wait for an immediate server response with the calculation results.\nIn that case, the `async` flag in the request has to be set to `true`.\nThe server will only respond with a `202` status, i.e., accept the request, but will queue the transactions for later processing.\nThe calculation result can later be requested by calling the [`GET /transactions/v1/transactions`](#operation/getTransactionsTransactions) endpoint with the corresponding `transaction_id`s.\n",
        "summary": "Process transactions",
        "tags": [
          "Transaction API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionRequest"
              },
              "examples": {
                "Request for Retail Banking": {
                  "$ref": "#/components/examples/Transaction-Request-Example-Retail"
                },
                "Request for Commercial Banking": {
                  "$ref": "#/components/examples/Transaction-Request-Example-Commercial"
                },
                "Request with Merchant": {
                  "$ref": "#/components/examples/Transaction-Request-Example-Merchant"
                },
                "Request for asynchronously processing": {
                  "$ref": "#/components/examples/Transaction-Request-Example-Async"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result of Transaction processing.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                },
                "examples": {
                  "Response for Retail Banking": {
                    "$ref": "#/components/examples/Transaction-Response-Example-200-Retail"
                  },
                  "Response for Commercial Banking": {
                    "$ref": "#/components/examples/Transaction-Response-Example-200-Commercial"
                  },
                  "Response with Merchant": {
                    "$ref": "#/components/examples/Transaction-Response-Example-200-With-Merchant"
                  },
                  "Transaction currency is not supported": {
                    "$ref": "#/components/examples/TransactionResponseCurrencyNotSupportedExample"
                  },
                  "Model not found": {
                    "$ref": "#/components/examples/TransactionResponseModelNotFoundExample"
                  },
                  "Carbon intensity factor not found": {
                    "$ref": "#/components/examples/TransactionResponseCifNotFoundExample"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Result of Transaction processing.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionAsyncResponse"
                },
                "examples": {
                  "Response": {
                    "$ref": "#/components/examples/Transaction-Response-Example-202-Accepted"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Size of Transactions is invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "Bad Request": {
                    "summary": "400 Bad Request",
                    "value": {
                      "path": "/transactions/v1/transactions",
                      "timestamp": "2023-04-25T12:34:56.78+00:00",
                      "status": 400,
                      "error": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          },
          "403": {
            "description": "Forbidden. An existing transaction cannot be overwritten with a different account.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Response": {
                    "$ref": "#/components/examples/AccessDenied403"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "getTransactionsTransactions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Transactions by IDs",
        "description": "Retrieve information about previously processed transactions identified by their IDs.",
        "tags": [
          "Transaction API"
        ],
        "parameters": [
          {
            "in": "query",
            "required": true,
            "name": "ids",
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 100,
              "items": {
                "$ref": "#/components/schemas/TransactionId"
              }
            },
            "style": "form",
            "explode": false
          }
        ],
        "responses": {
          "200": {
            "description": "List of requested Transactions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "path": "/transactions/v1/transactions",
                      "timestamp": "2023-04-25T12:34:56.78+00:00",
                      "status": 400,
                      "error": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/transactions/v1/accounts/{account_id}/months/{month}/transactions": {
      "get": {
        "operationId": "getTransactionsForMonth",
        "summary": "Get transactions per category for one month",
        "description": "Returns the transactions of an account for one specific month. If no transactions are found with the given filter parameters an empty array will be returned.",
        "tags": [
          "Transaction API"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "The ID of the account holder/user.",
            "schema": {
              "type": "string"
            },
            "example": "aecdcc5f-e128-4814-93c3-57a4382675e5"
          },
          {
            "$ref": "#/components/parameters/subAccountIdsForTransactionApi"
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "The month for which the transactions should be returned. Month should be formatted as `YYYY-MM` according to ISO 8601.",
            "schema": {
              "type": "string",
              "pattern": "^\\d{4}-\\d{2}$"
            },
            "example": "2023-06"
          },
          {
            "$ref": "#/components/parameters/metaCategoryParameter"
          },
          {
            "$ref": "#/components/parameters/subCategoryParameter"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort the transactions by the given attribute. If no value is given, `datetime.asc` is applied by default.",
            "schema": {
              "type": "string",
              "enum": [
                "co2_footprint_in_g.asc",
                "co2_footprint_in_g.desc",
                "datetime.asc",
                "datetime.desc"
              ]
            },
            "example": "co2_footprint_in_g.desc"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Restrict the number of returned transactions to the given number. If no value is given, a default limit of 500 is applied.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500
            },
            "example": 5
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions for the given account and month.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTransactionsForMonthResponse"
                },
                "examples": {
                  "Get all transactions": {
                    "$ref": "#/components/examples/GetAllTransactionsExample"
                  },
                  "Get transactions for a meta category": {
                    "$ref": "#/components/examples/GetMetaCategoryTransactionsExample"
                  },
                  "Get transactions for a sub category": {
                    "$ref": "#/components/examples/GetSubCategoryTransactionsExample"
                  },
                  "Get transactions empty result": {
                    "$ref": "#/components/examples/GetTransactionsEmptyResultExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Sub category without meta category": {
                    "$ref": "#/components/examples/BadRequestGetAggregatedCo2ByMonth-Sub-Without-Meta-Example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired."
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Meta and sub category": {
                    "$ref": "#/components/examples/NotFoundGetAggregatedCo2ByMonth-Meta-Sub-Example"
                  },
                  "Meta category": {
                    "$ref": "#/components/examples/NotFoundGetAggregatedCo2ByMonth-Meta-Example"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/transactions/v1/update-category": {
      "post": {
        "operationId": "postTransactionsUpdateCategory",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Use this endpoint to update categories for given transactions.",
        "summary": "Update Category",
        "tags": [
          "Transaction API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionCategoryUpdateRequest"
              },
              "examples": {
                "Minimal Request": {
                  "$ref": "#/components/examples/Transaction-Category-Update-Request-Example-01"
                },
                "Asynchronous Request": {
                  "$ref": "#/components/examples/Transaction-Category-Update-Request-Example-02"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result of Transaction Category Update.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                },
                "examples": {
                  "Minimal-Request-Response": {
                    "$ref": "#/components/examples/Transaction-Category-Update-Response-Example-01"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Result of Transaction processing.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionAsyncResponse"
                },
                "examples": {
                  "Response": {
                    "$ref": "#/components/examples/Transaction-Category-Update-Response-Example-02"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Size of Transactions is invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "BadRequest-Example": {
                    "value": {
                      "path": "/transactions/v1/update-category",
                      "timestamp": "2023-04-25T12:34:56.78+00:00",
                      "status": 400,
                      "error": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/transactions/v1/refinements": {
      "get": {
        "operationId": "getTransactionsRefinements",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Available Questions for Refinement of Specific Transactions",
        "description": "For certain types of goods or services the amount spent may not actually be an accurate representation of the CO<sub>2</sub> (equivalent) emission caused by that good or service. \nA few examples of such types of transactions are:\n  * Service stations: Fuel prices are highly volatile and vary from station to station. Therefore, the volume and type of fuel could be used for better calculation of the CO<sub>2</sub> emission related to a service station transaction.\n  * Air travel: Prices for airline tickets are dependent on the day of the flight as well as even more so on the date of purchase. Therefore, the hours of the flight give a better basis for calculating CO<sub>2</sub> emissions for air travel.\n\nCalling this endpoint with valid transaction IDs will return a list of suitable refinement question IDs for the transactions in request.  If the question has already been answered the reference to the corresponding answer (or the value if it is not a predefined answer) will be also returned.\n> #### Note\n> Calling this endpoint returns only references to content pieces (i.e., content IDs for questions and/or answers).\n> The mapping of question IDs / answer IDs and their text representation can be obtained from the [`GET /transactions/v1/questions`](#operation/getTransactionsQuestions) endpoint",
        "tags": [
          "Transaction API"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "transaction_ids",
            "description": "a list of transaction IDs",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "62c12ecc-17d7-469f-9ecc-b08e00eb8c90",
              "75353c62-6757-4740-979d-dfa52cdb9fba"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "A list of transaction ids and their corresponding question ids. If the question is already answered the field `answer_id` is set. Otherwise, it is `null`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionQuestionsResponse"
                },
                "examples": {
                  "Refinement questions without answer": {
                    "$ref": "#/components/examples/RefinementsUnansweredResponseExample"
                  },
                  "Refinement questions answered": {
                    "$ref": "#/components/examples/RefinementsAnsweredResponseExample"
                  },
                  "No refinement questions available": {
                    "$ref": "#/components/examples/RefinementsUnavailableResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "BadRequest-Example": {
                    "$ref": "#/components/examples/BadRequestRefinements-Example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      },
      "post": {
        "operationId": "postTransactionsRefinements",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Recalculate the carbon footprint associated with a transaction by providing answers to specific questions. \n\nThe request must include the `transaction_id` and the `answer_id`. \nFor questions with answers of the `SELECTABLE` type, this is already sufficient.\nFor questions with answers of the `INPUT` type, the `input` value must also be included.\n\nReferences to questions relevant to certain transaction can be retrieved by calling the [`GET /transactions/v1/refinements`](#operation/getTransactionsRefinements) endpoint with the corresponding transaction ID.\nThe text version of the questions and possible answers can be obtained by calling the [`GET /transactions/v1/questions`](#operation/getTransactionsQuestions) endpoint (with the question IDs).\n",
        "summary": "Provide Answers for Transaction Refinement",
        "tags": [
          "Transaction API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransactionBulkAnswersRequest"
              },
              "examples": {
                "Synchronous Request for Answering Refinement Questions": {
                  "$ref": "#/components/examples/RefinementsAnswerFlightsRequestExample"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation that answer is saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionRefinementResponse"
                },
                "examples": {
                  "Updated Calculation Result": {
                    "$ref": "#/components/examples/RefinementsAnswerFlightsResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Size of Transactions is invalid.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "BadRequest-Example": {
                    "value": {
                      "path": "/transactions/v1/refinements",
                      "timestamp": "2023-04-25T12:34:56.78+00:00",
                      "status": 400,
                      "error": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/transactions/v1/questions": {
      "get": {
        "operationId": "getTransactionsQuestions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Questions and Answers for Transaction Refinement",
        "description": "Get questions, answers, and translations, used to refine a transaction.\n\nCalling this endpoint without the `question_ids` parameter will return the text of all questions that can be used for transaction refinement. \nA client application could fetch the question-and-answer texts once and cache them for a certain amount of time.\n\nIncluding the `question_ids` parameter returns only the content for the referenced questions.\n\nCalling this endpoint without the `languages_codes` parameter will return the text of all questions, and their associated answers, in all available language translations.\n\nIncluding the `languages_codes` parameter returns only the content with the referenced language translations.\n\nTo get a list of references to questions relevant to a specific transaction, please use the \n[\"Get refinements for transactions\"](#operation/getTransactionsRefinements) endpoint.\n\nIf no questions for the given `ids` or translations for the given `languages_codes` are found, the response is handled as a partial success. Corresponding information\nwill be returned in the error list of the response.\n\n> #### Note\n>\n> This endpoint returns actual content pieces.\n",
        "tags": [
          "Transaction API"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "question_ids",
            "description": "a list of question ids. If the list of ids is not present, all questions (+answers) are returned.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "9ce39d4f-cb36-4e93-b896-822156c9c159",
              "1411f1a1-251f-4220-a44b-441e6941ebf0"
            ]
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Questions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/content/v1/comparables": {
      "get": {
        "operationId": "getContentComparables",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Content API"
        ],
        "description": "Get a specific Comparable or a list of Comparables or all Comparables for a given CO<sub>2</sub> footprint.\n\nThe amount of CO<sub>2</sub> (`co2_footprint`) in grams to compare is required for calling this endpoint. \nIn addition, it can be called with a list of content IDs (`ids` parameter) to select which Comparables shall be displayed.\n\nIt is possible to retrieve the Comparables in different languages via the `language_codes` parameter.\n",
        "summary": "Get Comparables for a Given CO2 Footprint",
        "parameters": [
          {
            "in": "query",
            "name": "co2_footprint",
            "description": "CO<sub>2</sub> footprint in grams",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "example": 12345
            }
          },
          {
            "in": "query",
            "name": "ids",
            "description": "a list of ids. If the list of ids is not present, all Comparables are returned.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "02805b59-878d-438d-a68b-9d721766ec60"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of Comparables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComparableResponse"
                },
                "examples": {
                  "Get comparables": {
                    "$ref": "#/components/examples/ComparableResponseExample"
                  },
                  "Error - Requested comparable does not exist": {
                    "$ref": "#/components/examples/ComparableErrorResponseComparableNotFoundExample"
                  },
                  "Error - Requested language does not exist": {
                    "$ref": "#/components/examples/CommonErrorResponseTranslationNotFoundExample"
                  },
                  "Error - Requested comparable is incompatible with given co2 footprint": {
                    "$ref": "#/components/examples/ComparableErrorResponseCo2FootprintIncompatibleExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "path": "/content/v1/comparables",
                      "timestamp": "2023-04-25T12:34:56.78+00:00",
                      "status": 400,
                      "error": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/content/v1/comparables/random": {
      "get": {
        "operationId": "getContentComparablesRandom",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Content API"
        ],
        "description": "Get an individual Comparable or a list of Comparables for a given CO<sub>2</sub> footprint. The content pieces returned by calling this endpoint are chosen at random.\nThe amount of CO<sub>2</sub> (`co2_footprint`) in grams to compare is required for calling this endpoint.  The number of Comparables returned in the response can be specified using the `size` parameter.\nThe Comparables returned can be limited to specific categories using the `categories` parameter.\nIt is possible to retrieve the Comparables in different languages via the `language_codes` parameter.",
        "summary": "Get Random Comparables for a Given CO2 Footprint",
        "parameters": [
          {
            "in": "query",
            "name": "co2_footprint",
            "description": "CO<sub>2</sub> footprint in grams",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1,
              "example": 12345
            }
          },
          {
            "$ref": "#/components/parameters/categories"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of comparables",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComparableResponse"
                },
                "examples": {
                  "Get random comparables": {
                    "$ref": "#/components/examples/ComparableResponseExample"
                  },
                  "Error - Requested language does not exist": {
                    "$ref": "#/components/examples/CommonErrorResponseTranslationNotFoundExample"
                  },
                  "Error - Filter category does not exist": {
                    "$ref": "#/components/examples/ComparableErrorResponseCategoryNotFoundExample"
                  },
                  "Error - No comparables fit the requested filter": {
                    "$ref": "#/components/examples/ComparableErrorResponseAnyComparablesNotFoundExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "path": "/content/v1/comparables/random",
                      "timestamp": "2023-04-25T12:34:56.78+00:00",
                      "status": 400,
                      "error": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/content/v1/insights": {
      "get": {
        "operationId": "getContentInsights",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Content API"
        ],
        "description": "Get all or specific Insights on how to improve individual CO<sub>2</sub> impact.",
        "summary": "Get Insights by IDs",
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "a list of ids. If the list of ids is not present, all insights are returned.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "06462ed4-32e7-46b0-8920-31e982ba22c0"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResponse"
                },
                "examples": {
                  "Get insights": {
                    "$ref": "#/components/examples/InsightsResponseExample"
                  },
                  "Error - Requested insight does not exist": {
                    "$ref": "#/components/examples/InsightErrorResponseInsightNotFoundExample"
                  },
                  "Error - Requested language does not exist": {
                    "$ref": "#/components/examples/CommonErrorResponseTranslationNotFoundExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/content/v1/contextual-insights": {
      "get": {
        "operationId": "getContextualInsights",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Content API"
        ],
        "description": "Get Contextual Insights by IDs.",
        "summary": "Get Contextual Insights by IDs.",
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "a list of content ids. If the list of ids is not present, all contextual insights are returned.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "example": [
                "4573f579-6173-439d-9489-72dd3d69f7d7"
              ]
            }
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContextualInsightsResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/ContextualInsightsResponseExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/content/v1/insights/random": {
      "get": {
        "operationId": "getContentInsightsRandom",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Content API"
        ],
        "description": "Get a number of random Insights on how to improve the individual CO<sub>2</sub> footprint.\nThe Insights returned can be limited to specific categories.  [Available categories](#operation/getInfoCategories) can be retrieved using the [Info API](#tag/Info-API).",
        "summary": "Get Insights (for a Given Category)",
        "parameters": [
          {
            "$ref": "#/components/parameters/categories"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of insights",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsResponse"
                },
                "examples": {
                  "Get random insights": {
                    "$ref": "#/components/examples/InsightsResponseExample"
                  },
                  "Error - Requested language does not exist": {
                    "$ref": "#/components/examples/CommonErrorResponseTranslationNotFoundExample"
                  },
                  "Error - Filter category does not exist": {
                    "$ref": "#/components/examples/InsightErrorResponseCategoryNotFoundExample"
                  },
                  "Error - No insights fit the requested filter": {
                    "$ref": "#/components/examples/InsightErrorResponseAnyInsightsNotFoundExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "error_code": "Invalid request",
                      "error_description": "Your request is invalid. Please see API spec.",
                      "request_id": "6bf3202ade4a7411"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/profiling/v1/insights": {
      "get": {
        "operationId": "getProfilingInsights",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Profiling API"
        ],
        "description": "Returns all matching references to Insights for specified accounts. \nThe Insights can also be restricted to specific [categories](#operation/getInfoCategories) (see [Info API](#tag/Info-API)).\n> #### Note\n> This endpoint only returns references (i.e., content IDs) to the content. The actual content can be retrieved via the [content API](#tag/Content-API).",
        "summary": "Get Insights (for accounts)",
        "parameters": [
          {
            "in": "query",
            "name": "account_ids",
            "description": "list of account ids",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "a083e879-b37c-4307-9407-a9825d82800b"
          },
          {
            "$ref": "#/components/parameters/categories"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of content ids for the given accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsProfilingResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/InsightsProfilingResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "path": "/profiling/v1/insights",
                      "timestamp": "2023-04-25T12:34:56.78+00:00",
                      "status": 400,
                      "error": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/profiling/v1/contextual-insights": {
      "get": {
        "operationId": "getContextualInsightsForAccounts",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Profiling API"
        ],
        "description": "Get Contextual Insights (for accounts)\n> #### Note\n> This endpoint only returns references (i.e., content IDs) to the content. The actual content can be retrieved via the [content API](#tag/Content-API).",
        "summary": "Get Contextual Insights (for accounts)",
        "parameters": [
          {
            "in": "query",
            "name": "account_ids",
            "description": "list of account ids",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "a083e879-b37c-4307-9407-a9825d82800b"
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of content ids for the given accounts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InsightsProfilingResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/InsightsProfilingResponseExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiValidationError"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "path": "/profiling/v1/contextual-insights",
                      "timestamp": "2023-04-25T12:34:56.78+00:00",
                      "status": 400,
                      "error": "Bad Request"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/content/v1/explanations": {
      "get": {
        "operationId": "getContentExplanations",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Content API"
        ],
        "description": "Retrieve all or individual Explanations on the ecolytiq calculation.",
        "summary": "Get Explanations by ID",
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "a list of ids. If the list of ids is not present, all explanations are returned.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": "3f967ccf-8b20-4bee-9879-1174f7a7b250"
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of explanations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplanationsResponse"
                },
                "examples": {
                  "Get explanations": {
                    "$ref": "#/components/examples/ExplanationResponseExample"
                  },
                  "Error - Requested explanation does not exist": {
                    "$ref": "#/components/examples/ExplanationErrorResponseExplanationNotFoundExample"
                  },
                  "Error - Requested language does not exist": {
                    "$ref": "#/components/examples/CommonErrorResponseTranslationNotFoundExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/content/v1/explanations/random": {
      "get": {
        "operationId": "getContentExplanationsRandom",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "tags": [
          "Content API"
        ],
        "description": "Get randomly chosen Explanations on the ecolytiq calculation method.  The results returned can be limited to certain categories. \nUse the [info API](#tag/Info-API) to fetch a (list of available categories)[#operation/getInfoCategories].",
        "summary": "Get Explanations (for given categories)",
        "parameters": [
          {
            "$ref": "#/components/parameters/categories"
          },
          {
            "$ref": "#/components/parameters/size"
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of explanations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExplanationsResponse"
                },
                "examples": {
                  "Get random explanations": {
                    "$ref": "#/components/examples/ExplanationResponseExample"
                  },
                  "Error - Requested language does not exist": {
                    "$ref": "#/components/examples/CommonErrorResponseTranslationNotFoundExample"
                  },
                  "Error - Filter category does not exist": {
                    "$ref": "#/components/examples/ExplanationErrorResponseCategoryNotFoundExample"
                  },
                  "Error - No explanations fit the requested filter": {
                    "$ref": "#/components/examples/ExplanationErrorResponseAnyExplanationsNotFoundExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "request_id": "88756220047cbc61",
                      "error_code": "Invalid request",
                      "error_description": "Your Request is invalid. Please see API specs."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/profiling/v1/questions": {
      "get": {
        "operationId": "getProfilingQuestions",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get Questions and Answers for Profiling",
        "description": "Get questions, answers, and translations, used for Profiling. \nThe answers to the questions are used to store additional information for specific end customers.  This is useful for improving the calculation results (e.g., if the end customer is known to be vegan, the vegan \"base basket\" is used for the calculation of the footprint after shopping in the supermarket) as well as reducing unsuitable Insights (i.e., someone known to be vegan will not be shown information on how much CO<sub>2</sub> they can save by reducing meat in their diet).\nCalling this endpoint without the `question_ids` parameter will return the text of all questions that can be used for Profiling. \nIncluding the `question_ids` parameter returns only the content for the referenced questions.\nCalling this endpoint without the `languages_codes` parameter will return the text of all questions, and their associated answers, in all available language translations.\nIncluding the `languages_codes` parameter returns only the content with the referenced language translations.\nIf no questions for the given `ids` or translations for the given `languages_codes` are found, the response is handled as a partial success. Corresponding information will be returned in the error list of the response. > #### Note:\n> This endpoint returns the actual content.",
        "tags": [
          "Profiling API"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "a list of question ids. If the list of ids is not present, all questions (+answers) are returned.",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "6b988e5a-5540-42d5-a0a7-d24ff054c2f9",
              "4f8d7bdf-6906-4680-a1d8-b05468b3e530"
            ]
          },
          {
            "$ref": "#/components/parameters/languageCodes"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of profiling questions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuestionResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/Profile-Refinement-Request-With-IDs-Example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/profiling/v1/answer": {
      "post": {
        "operationId": "postProfileRefinements",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Store profile refinements. \nIn the case of pre-defined choices to answer a question, providing only the `answer_id` and the `account_id` is sufficient. For \"free text\" answers the `input` must be submitted as well.",
        "summary": "Store profile refinements",
        "tags": [
          "Profiling API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkAnswersRequest"
              },
              "examples": {
                "Example": {
                  "$ref": "#/components/examples/Profile-Answer-Request-Example"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation that answer is saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkAnswerResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/Profile-Answer-Response-Example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/profiling/v1/accounts/{account_id}/refinements": {
      "get": {
        "operationId": "getProfileRefinementsForAccount",
        "summary": "Retrieve refinements for account",
        "description": "Retrieve the latest profile refinements for the specified account. \nThe result includes only questions that have been answered by the account. \n\nUse cases:\n  - The main use case is to prefill selected answers in the user interface so that users can review & update their answer to a question.\n",
        "tags": [
          "Profiling API"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/accountIdPath"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of profile refinements for an account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProfileRefinementsResponse"
                },
                "examples": {
                  "Get list of latest refinements for account": {
                    "$ref": "#/components/examples/ProfileRefinementsForAccountResponseExample"
                  },
                  "Account did not answer questions yet or does not exist": {
                    "$ref": "#/components/examples/ProfileRefinementsForAccountEmptyResponseExample"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/account/v1/delete-accounts": {
      "post": {
        "operationId": "postAccountDeleteAccounts",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "By calling this endpoint all data for the given accounts is deleted from the ecolytiq platform.\nThis includes\n* Transaction data\n* Profile data\n* Feedback data, both structured and unstructured\n\n> #### Warning \n>\n>  * There is no double confirmation!\n>    Once the endpoint is called with valid `account_ids` the data related to those `account_ids` is **gone for good**.\n>  * This does **not affect** orders placed via the [Action API](#tag/Action-API) (`/action/...` endpoints). \n",
        "summary": "Delete all data of the given accounts",
        "tags": [
          "Account API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccountsRequest"
              },
              "examples": {
                "Example": {
                  "$ref": "#/components/examples/Delete-Account-Request-Example"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Confirmation that the request has been processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountsResponse"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/Delete-Account-Response-Example"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Confirmation that the request can be handled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired.\n"
          }
        }
      }
    },
    "/statistic/v1/accounts/{account_id}/footprints": {
      "get": {
        "operationId": "getFootprintsOverTime",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get total or monthly footprints and carbon credits over time",
        "description": "Returns an account's total or monthly CO<sub>2</sub> footprints and purchased carbon credits over time.",
        "tags": [
          "Statistic API"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "The ID of the account holder/user. If the `account_id` doesn't exist, an empty list will be returned.",
            "schema": {
              "type": "string"
            },
            "example": "aecdcc5f-e128-4814-93c3-57a4382675e5"
          },
          {
            "$ref": "#/components/parameters/subAccountIdsForStatisticApi"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "description": "The beginning timestamp from when the data should be returned. Format according to ISO 8601. If not given, the timestamp one year ago will be used. For dates with lower timestamp precision, the corresponding start time will be considered, e.g. \"2023-06\" will be interpreted as \"2023-06-01T00:00:00Z\". The length of the specified time interval may not exceed 100 years.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "Year Example": {
                "value": "2023"
              },
              "Month Example": {
                "value": "2023-06"
              },
              "Date Example": {
                "value": "2023-06-01"
              },
              "Timestamp Example": {
                "value": "2023-06-01T18:43:26.000Z"
              }
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "description": "The end timestamp from when the data should be returned. Format according to ISO 8601. If not given, the current timestamp will be used. For dates with lower timestamp precision, the corresponding end time will be considered, e.g. \"2023-06\" will be interpreted as \"2023-06-301T23:59:59Z\". The length of the specified time interval may not exceed 100 years.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "Year Example": {
                "value": "2023"
              },
              "Month Example": {
                "value": "2023-06"
              },
              "Date Example": {
                "value": "2023-06-01"
              },
              "Timestamp Example": {
                "value": "2023-06-01T18:43:26.000Z"
              }
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Defines in which intervals the footprint should be returned. Use `TOTAL` to get one single value for the whole timeframe. Use `MONTH` to return the footprint split by month. If an interval is not given, `TOTAL` will be used.",
            "schema": {
              "type": "string",
              "enum": [
                "TOTAL",
                "MONTH"
              ]
            },
            "example": "MONTH"
          },
          {
            "$ref": "#/components/parameters/metaCategoryParameter"
          },
          {
            "$ref": "#/components/parameters/subCategoryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Footprints and carbon credits amount for the given account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFootprintsAndCreditsOverTimeResponse"
                },
                "examples": {
                  "Get total footprint and credits": {
                    "$ref": "#/components/examples/GetTotalFootprintAndCreditsExample"
                  },
                  "Get monthly footprint and credits": {
                    "$ref": "#/components/examples/GetMonthlyFootprintsAndCreditsExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request parameter is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Invalid sub-category": {
                    "$ref": "#/components/examples/BadRequestGetAggregatedCo2ByMonth-Example"
                  },
                  "Date range too large": {
                    "$ref": "#/components/examples/DateRangeTooLarge-Example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access token is invalid or expired."
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Meta and sub category": {
                    "$ref": "#/components/examples/NotFoundGetAggregatedCo2ByMonth-Meta-Sub-Example"
                  },
                  "Meta category": {
                    "$ref": "#/components/examples/NotFoundGetAggregatedCo2ByMonth-Meta-Example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/statistic/v1/accounts/{account_id}/months/{month}/footprints": {
      "get": {
        "operationId": "getFootprintsForMonth",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get footprints of an account per meta-category for one month",
        "description": "Returns the CO<sub>2</sub> footprints of an account grouped by meta-categories (e.g. `food`) or categories (e.g. `ex:food.cafe`) for one specific month.",
        "tags": [
          "Statistic API"
        ],
        "parameters": [
          {
            "name": "account_id",
            "in": "path",
            "required": true,
            "description": "The ID of the account holder/user. If the `account_id` doesn't exist, the categories with **0** (zero) `transaction_count` will be returned.",
            "schema": {
              "type": "string"
            },
            "example": "aecdcc5f-e128-4814-93c3-57a4382675e5"
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "description": "The month for which the footprints should be returned. `month` should be formatted as `YYYY-MM` according to ISO 8601.",
            "schema": {
              "type": "string"
            },
            "example": "2023-08"
          },
          {
            "$ref": "#/components/parameters/subAccountIdsForStatisticApi"
          },
          {
            "name": "meta-category",
            "in": "query",
            "required": false,
            "description": "Filter by a given meta category. If **no** `meta-category` is given, the transactions will be grouped by meta-categories. Otherwise, the transactions will be grouped by the **categories** of the given `meta-category`.<br>* Meta-category (e.g. `food`) is part of a category (e.g. `ex:food.cafe`), which is composed of the following structure `ex:meta-category.sub-category`. <br>* Category `ex:general` is an exception and its meta-category is `misc`.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "Retail Example": {
                "value": "living"
              },
              "Commercial Example": {
                "value": "businesstravel"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Footprints for the given account and month.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFootprintsForMonthResponse"
                },
                "examples": {
                  "Get footprints per meta-category - Retail example": {
                    "$ref": "#/components/examples/GetCo2ByCategory_Retail_MetaExample"
                  },
                  "Get footprints per meta-category - Commercial example": {
                    "$ref": "#/components/examples/GetCo2ByCategory_Commercial_MetaExample"
                  },
                  "Get footprints per sub-category - Retail example": {
                    "$ref": "#/components/examples/GetCo2ByCategory_Retail_SubExample"
                  },
                  "Get footprints per sub-category - Commercial example": {
                    "$ref": "#/components/examples/GetCo2ByCategory_Commercial_SubExample"
                  },
                  "Get footprints per meta-category if account or transactions don't exist": {
                    "$ref": "#/components/examples/GetCo2ByCategory_NotExists_MetaExample"
                  },
                  "Get footprints per sub-category if account or transactions don't exist": {
                    "$ref": "#/components/examples/GetCo2ByCategory_NotExists_SubExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request parameter are not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Blank Meta-Category Example": {
                    "$ref": "#/components/examples/MetaCategoryMayNotBlank-Example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access token is invalid or expired."
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Meta-catgory not found": {
                    "$ref": "#/components/examples/MetaNotFoundExample"
                  },
                  "Meta-category for different system not found": {
                    "$ref": "#/components/examples/MetaForSystemNotFoundExample"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/statistic/v1/footprints/averages": {
      "get": {
        "operationId": "getAverageFootprints",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "summary": "Get average footprints",
        "description": "Returns national average CO<sub>2</sub> footprint numbers.",
        "tags": [
          "Statistic API"
        ],
        "parameters": [
          {
            "name": "co2_model",
            "in": "query",
            "required": true,
            "description": "Specify a CO<sub>2</sub> model from the `GET /info/v1/co2models` endpoint to get statistics on the national average footprint for that model.",
            "schema": {
              "type": "string"
            },
            "example": "DE"
          },
          {
            "name": "account_id",
            "in": "query",
            "required": false,
            "description": "This parameter is only applicable for commercial banking. Specify the ID of the account holder/user to get statistics on the industry average footprint for that model.",
            "schema": {
              "type": "string"
            },
            "example": "aecdcc5f-e128-4814-93c3-57a4382675e5"
          }
        ],
        "responses": {
          "200": {
            "description": "Average footprints.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAverageFootprintsResponse"
                },
                "examples": {
                  "Only CO2 model given": {
                    "$ref": "#/components/examples/GetAverageFootprintsOnlyModelGivenExample"
                  },
                  "CO2 model and commercial account given": {
                    "$ref": "#/components/examples/GetAverageFootprintsModelAndAccountGivenExample"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request. Request parameter is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Example": {
                    "$ref": "#/components/examples/BadRequestGetAverageFootprints-Example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access token is invalid or expired."
          },
          "404": {
            "description": "Not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Unknown CO2 model": {
                    "$ref": "#/components/examples/NotFoundGetAverageFootprints-Example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/feedback/v1/structured-feedback": {
      "post": {
        "operationId": "postStructuredFeedback",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Use this endpoint to send us structured feedback about insights, application features, footprint calculation results, etc. by using predefined questions and answers. This is the preferred way of submitting feedback.",
        "summary": "Submit structured feedback",
        "tags": [
          "Feedback API"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StructuredFeedbackRequest"
              },
              "examples": {
                "Answer ID with free text": {
                  "$ref": "#/components/examples/StructuredFeedbackRequestIdFreetextExample"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The feedback is saved."
          },
          "400": {
            "description": "Bad Request. Request parameter is not valid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Invalid reference": {
                    "$ref": "#/components/examples/FeedbackInvalidReference400Example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized. Access Token is invalid or expired."
          },
          "422": {
            "description": "Unprocessable entity.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                },
                "examples": {
                  "Transaction ID not found": {
                    "$ref": "#/components/examples/FeedbackTransactionIdNotFound422Example"
                  },
                  "Insight ID not found": {
                    "$ref": "#/components/examples/FeedbackInsightIdNotFound422Example"
                  },
                  "Answer ID not found": {
                    "$ref": "#/components/examples/FeedbackAnswerIdNotFound422Example"
                  },
                  "Invalid Reference provided": {
                    "$ref": "#/components/examples/FeedbackInvalidReference422Example"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/feedback/v1/unstructured-feedback": {
      "post": {
        "operationId": "postUnstructuredFeedback",
        "security": [
          {
            "BearerAuth": []
          }
        ],
[...]
